apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: ruma-moe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullPolicy: Always
      containers:
        - name: frontend
          image: registry.walruslab.org/pub/ruma-moe-frontend
